.jumbotron{
    padding-bottom: 5px; 
    padding-top: 5px;
    text-align: center;
}
h4{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.input-group-text{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f0f0f5;
}
.input-group-text.user{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
.container-fluid{
    width: 90%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.consultar-table-container{
    text-align: left;
}
.div-image{
    flex: 1 1 0;
}
.div-recibo{
    flex: 1 1 0;
}
.imagen-inventario{
    max-width: 95%;
    max-height: 300px;
}
.detalles-container{
    display: flex;
    flex-direction: row;
    height: 650px;
}
.image-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}
.recibo-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}
.fotos-container{
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
}
.detalles-table-container{
    flex: 1 1 0;
}
.login-container{
    border: solid 2px lightgray;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    border-radius: 10px;
    display: inline-block
}
.register-container{
    border: solid 2px lightgray;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    border-radius: 10px;
    display: inline-block
}
.container-full-image{
    width: 90%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col.padding{
    padding-bottom: 1rem;
}
.thumbnail-container{
    padding-right: 1rem;
}
#estado1{
    color: white;
    font-weight: bold;
    background-color: #ff0000;
}
#estado2{
    color: white;
    font-weight: bold;
    background-color: #ff9900;
}
#estado3{
    color: white;
    font-weight: bold;
    background-color: #009933;
}
#articulos_consultar{
    text-align: left;
}
#solicitarTable{
    text-align: center;
}
